@page
@inherits KST.ABP.Organizations.Web.Pages.OrganizationsPage
@model KST.ABP.Organizations.Web.Pages.Organizations.IndexModel
@{
}
<h1>Organizations</h1>
<p>A sample page for the Organizations module.</p>